.social
  .pint#social
    =image_tag("social_pint.png")
  .google#social
    =image_tag("social_google.png")
  .email#social
    =image_tag("social_email.png")
  .facebook#social
    =image_tag("social_fb.png")

.clear
#bottom-align  
  #logo
    = link_to image_tag("GLF_logo.png",:alt => ""),"/"
  #categories
    #collections.header
      ="Collections"
    #events.header
      ="Events & Weddings"
    #about.header
      ="About Us"
.clear

